<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title> <%= pageTitle %> </title>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/styles.css">
</head>

<body>
    
    <%- include("includes/navbar.ejs")%>

    <h2 style="text-align: center; margin-top: 20px;"><%= school %> - Course ID: <%= code %></h2>
    <div class="container" style="margin-top: 25px;">
        <% for (const [key, value] of Object.entries(retrievedCourseData)) { %> 
            <button type="button" class="collapsible"><%= key %></button>
            <div class="content">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th># Participants</th>
                                <th># Participants Passed</th>
                                <th>Grades Asset URL</th>
                                <th>Grades Asset Hash</th>
                                <th>Status</th>
                                <th>Notes</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% value.forEach((course, _) => { %>
                                <tr>
                                    <td><%= course.participants_number %></td>
                                    <td><%= course.pass_number %></td>
                                    <td><%= course.grades_asset_url %></td>
                                    <td><%= course.grades_asset_hash %></td>
                                    <td><%= course.update_status %></td>
                                    <td><%= course.notes %></td>
                                </tr>
                            <% }) %>
                        </tbody>
                    </table>
                </div>
            </div>
        <% } %>
    </div>

</body>
    <script>
        var coll = document.getElementsByClassName("collapsible");
        var i;
        
        for (i = 0; i < coll.length; i++) {
          coll[i].addEventListener("click", function() {
            this.classList.toggle("active");
            var content = this.nextElementSibling;
            if (content.style.display === "block") {
              content.style.display = "none";
            } else {
              content.style.display = "block";
            }
          });
        }
    </script>

</html>