<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title> <%= pageTitle %> </title>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/styles.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
</head>

<body>
    
    <%- include("includes/navbar.ejs")%>

    <% if (Object.keys(schools).length === 0) { %> 
        <div class="container">
            <div class="row" id="row">
                <div class="col-md-12">
                    <div class="card" id="card-container">
                        <div class="card-body" id="card">
                            <h1 style="margin-top: 5rem;">No Courses found!</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <% } else { %>
        <% for (const school in schools) { %>
            <div class="container">
                <div class="row" id="row">
                    <div class="col-md-12">
                        <div class="card" id="card-container">
                            <div class="card-body" id="card">
                                <h2> <%= school %> </h2>
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th> Course Code </th>
                                                <th> Course Name </th>
                                                <td style="visibility:collapse;"></td>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% for (const course of schools[school]) { %>
                                                <tr>
                                                    <td><input readonly name="code" id="inputTable" value="<%= course.code %>"/></td>
                                                    <td><input readonly name="name" id="inputTable" value="<%= course.name %>"/></td>
                                                    <!-- <td style="visibility:collapse;"><input id="inputTable" type="hidden" name="school" value="<%= school %>"/></td> -->
                                                    <form method="GET" action="<%= school.split(' ').join('-') %>/course/<%= course.code %>">
                                                        <td> <button class="btn btn-secondary">More</button> </td>
                                                    </form>
                                                </tr>
                                            <% } %>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <% } %>
    <% } %>

</body>

<script src="/assets/js/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>

<script>
    $(document).ready(function() {
        toastr.options = {
            "closeButton": true,
            "positionClass": "toast-bottom-right",
            "preventDuplicates": false
        };
        /* In order to access variables sent to ejs file to script you must Parse them to string */
        /* then to parse them back to JSON */
        let messages = '<%- JSON.stringify(messages) %>';
        messages = JSON.parse(messages);
        messages.forEach(({
            type,
            value
        }) => {
            switch (type) {
                case 'error':
                    toastr.error(value)
                    break;
                case 'success':
                    toastr.success(value)
                    break;
                case 'warning':
                    toastr.warning(value)
                    break;
                default:
                    toastr.info(value)
                    break;
            }
        });
    })
</script>

</html>