<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title> <%= pageTitle %> </title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/styles.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
</head>

<body>
    
    <%- include("includes/navbar.ejs")%>
    
    <div class="container" id="container-form">
        <div class="card">
            <div class="card-body">
                <h6 class="text-muted card-subtitle mb-2">Complete the following form</h6>
                <form method="POST" action="api/store/form" enctype="multipart/form-data">
                    <label for="schools">School</label>
                    <% if (isMaster) { %>
                        <select class="form-control" id="schools" name="school" onchange="optionChanged()">
                            <option value="SCHOOL OF CIVIL ENGINEERING">SCHOOL OF CIVIL ENGINEERING</option>
                            <option value="SCHOOL OF MECHANICAL ENGINEERING">SCHOOL OF MECHANICAL ENGINEERING</option>
                            <option value="SCHOOL OF ELECTRICAL & COMPUTER ENGINEERING">SCHOOL OF ELECTRICAL & COMPUTER ENGINEERING</option>
                            <option value="SCHOOL OF ARCHITECTURE">SCHOOL OF ARCHITECTURE</option>
                            <option value="SCHOOL OF CHEMICAL ENGINEERING">SCHOOL OF CHEMICAL ENGINEERING</option>
                            <option value="SCHOOL OF RURAL, SURVEYING AND GEOINFORMATICS ENGINEERING">SCHOOL OF RURAL, SURVEYING AND GEOINFORMATICS ENGINEERING</option>
                            <option value="SCHOOL OF MINING & METALLURGICAL ENGINEERING">SCHOOL OF MINING & METALLURGICAL ENGINEERING</option>
                            <option value="SCHOOL OF NAVAL ARCHITECTURE & MARINE ENGINEERING">SCHOOL OF NAVAL ARCHITECTURE & MARINE ENGINEERING</option>
                            <option value="SCHOOL OF APPLIED MATHEMATICAL & PHYSICAL SCIENCES">SCHOOL OF APPLIED MATHEMATICAL & PHYSICAL SCIENCES</option>
                        </select> 
                    <% } else { %>
                        <select class="form-control" id="schools" name="school" onchange="optionChanged()">
                            <option value="<%= school %>"><%= school %></option>
                        </select>
                    <% } %>
                    <label for="year">Year</label>
                    <input class="form-control" type="number" min="1990" max="2030" name="year" id="year"/>

                    <label for="period">Period</label>
                    <select class="form-control" id="period" name="period">
                        <option value="WINTER">WINTER</option>
                        <option value="SUMMER">SUMMER</option>
                        <option value="AUTUMN">AUTUMN</option>
                    </select>

                    <label for="course">Course</label>
                    <select class="form-control" name="course" id="courses">
                        <% for (const course of schools[school]) { %>
                            <option value="<%= course.code %>"><%= course.code %> - <%= course.name %></option>
                        <% } %>
                    </select>

                    <label for="professor">Professor</label>
                    <input class="form-control" name="professor" id="professor"/>

                    <label for="exam-date">Exam Date</label>
                    <input class="form-control" type="datetime-local" name="exam_date" id="exam-date"/>

                    <label for="participants-no">Number of Participants</label>
                    <input class="form-control" type="number" name="participants_no" id="participants-no"/>

                    <label for="pass-no">Number of Participants Passed</label>
                    <input class="form-control" type="number" name="pass_no" id="pass-no"/>

                    <label for="grades-asset-url">Grades Asset</label>
                    <input class="form-control" type="url" name="grades_asset_url" id="grades-asset-url"/>

                    <label for="update-status">Update Status</label>
                    <!-- <input class="form-control" list="update-status-list" name="update_status" id="update-status"/> -->
                    <select class="form-control" id="update_status" name="update_status">
                        <option value="INITIAL STATE">INITIAL STATE</option>
                        <option value="CORRECTIVE STATE">CORRECTIVE STATE</option>
                    </select>

                    <label for="notes">Notes</label>
                    <textarea class="form-control" name="notes" id="notes"></textarea>

                    <label>Grades File (.bau)</label>
                    <div>
                        <input type="file" name="grades_file" accept=".bau"/>
                    </div>

                    <div id="btn-container">
                        <button class="btn btn-primary" id="storeGrades" type="submit">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>

<script>
    function optionChanged() {
        let options = [];
        let schoolsMapStr = '<%- JSON.stringify(schools) %>';
        let schoolsMapping = JSON.parse(schoolsMapStr);

        option = document.getElementById("schools").value;
        for (const course of schoolsMapping[option]) {
            options.push("<option value='"+ course.code +"'>" + course.code + ' - ' + course.name + "</option>")
        }

        document.getElementById("courses").innerHTML = options.join();
    }
</script>

<script src="/assets/js/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>

<script>
    $(document).ready(function() {
        toastr.options = {
            "closeButton": true,
            "positionClass": "toast-bottom-right",
            "preventDuplicates": false
        };
        /* In order to access variables sent to ejs file to script you must Parse them to string */
        /* then to parse them back to JSON */
        let messages = '<%- JSON.stringify(messages) %>';
        messages = JSON.parse(messages);
        messages.forEach(({
            type,
            value
        }) => {
            switch (type) {
                case 'error':
                    toastr.error(value)
                    break;
                case 'success':
                    toastr.success(value)
                    break;
                case 'warning':
                    toastr.warning(value)
                    break;
                default:
                    toastr.info(value)
                    break;
            }
        });
    })
</script>

</html>